@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: 0, 0, 0;
  --background-secondary: rgba(218, 197, 167, .05);
  --primary-color: #6366f1;
  --secondary-color: #a5b4fc;
  --border-color: #334155;
  --text-primary-color: #FFFAFA;
  --slide-speed: 36s;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-primary: 0, 0, 0;
    --background-secondary: rgba(218, 197, 167, .05);
    --primary-color: #6366f1;
    --secondary-color: #a5b4fc;
    --border-color: #334155;
    --text-primary-color: #FFFAFA;
    --text-secondary-color: #121314;
  }
}

body {
  margin: 0;

  /* color: rgb(var(--foreground-rgb)); */
  background: rgb(var(--background-primary));

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


}

@layer base {
  .max-container {
    margin: 0 auto;
    width: 1450px;
  }

  .wrapper {
    background: conic-gradient(rgba(242, 121, 53) 50deg, transparent 90deg);
  }
}

@layer components {

  .slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

  }

  .slider .inner_slider {
    /* width: min-content; */

    animation: slide var(--slide-speed) var(--animation-direction, forwards) linear infinite;
  }

  .slider[data-direction="right"] {
    --animation-direction: reverse;
  }

  .slider[data-direction="left"] {
    --animation-direction: forwards;
  }


  .inner_slider:hover {
    animation-play-state: paused;
  }

  .slide_item {
    transition: filter 0.5s;
  }

  .mask {
    mask-image: linear-gradient(to right, transparent, #000, transparent);
  }





  @keyframes slide {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }

  }
}